/* Site-wide Styling for Forms */

form {
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    display: block;
}

label,
input,
textarea {
    display: grid;
    margin: 13px 0px 10px 0px;
}

input {
   padding: 5px;
}

input:focus{
  background-color: #f7f7f7;
  outline: none;
  border: solid 2px #CAE6F7
}

.inl_grid_inp {
  display: inline-grid;
  margin-left: 5px;
  margin-right: 5px;
}

input[type=submit] {
    display: inline-block;
    background-color: #ebedef;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.form-centered {
  text-align: center;
  margin: 0px 20px 0px 20px;
  max-width: 700px;
  display: inline-block;
}

.form-info {
  font-size: small;
  padding-bottom: 20px;
}
.link {
  color: #1a237e;
}

/* End of styling for Forms */
