/* Styling for signup form */

form {
    padding: 0px 20px 20px 20px;
    display: block;
}

label,
input,
textarea {
    display: grid;
    margin: 13px 0px 10px 0px;
}

input {
   padding: 5px;
}

input:focus{
        background-color: #efe9e9;
        outline: solid 1px #008b8b;
    }

.inl_grid_inp {
  display: inline-grid;
  margin-left: 5px;
  margin-right: 5px;
}

input[type=submit] {
    display: inline-block;
    background-color: #CAE6F7;
    padding: 5px 10px 5px 10px;
}

.form-centered {
  text-align: center;
  margin: 0px 20px 0px 20px;
  max-width: 700px;
  display: inline-block;
}

/* End of styling for signup form */
