/*Temp. Home Page Nav CSS*/

@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

*{
  padding:0px;
  margin:0px;
  font-family: 'Alata', sans-serif;
  text-align: center;
  margin-top: 20px;
}

body{
  background-color: #F8F9F9 ;
}

#main-content {
  padding: 0px 20px 40px 20px;
}

.container {
  display: flex;
  margin-top: 20px;
}

.inner-container {
  flex: auto;
  margin: 0px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 5px 10px 20px 10px;
  background-color: #CAE6F7;
}

.inner-container > .heading {
  margin: 5px 0px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: solid 1px #37474F;
  border-bottom: solid 1px black;
}

.inner-container > p {
  font-size: 14px;
}

.inner-container ul {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}
.inner-container button {
  display: inline-block;
  margin-top: 20px;
  background-color: #ebedef;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}


@media screen and (max-width: 1100px){
  .container {
    display: grid;
    margin-top: 0px;
  }
  .inner-container {
    margin: 20px 10px 0px 10px;
  }
}

h1 {
  font-size: 60px;
}

p.heading {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: solid 2px black;
  /* margin-bottom: 20px; */
}

input{
  border: 2px solid black;
  border-radius: 5px;
}

textarea{
  border: 2px solid black;
  border-radius: 5px;
}

hr{
  display: inline-block;
  width: 30%;
  border: 1px solid black;
}

img{
  max-width:180px;
}

input[type=file]{
padding:10px;
background:white;
}

/* Navigation Start */

nav{
  background-color: transparent;
  overflow: hidden;
  text-align: center;
}

.navbar{
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  font-size: medium;
  display: inline-block;
}

#center {
  float: none;
}

#center a {
  padding: 5px 20px;
  cursor: pointer;
}

/* Web Version of Website Start */
@media screen and (min-width : 1100px){
  *{
    margin-top: 0px;
  }

  /* Ensures some things are still spaced, while the nav bar is lowered from the top */
  .fadeIn{margin-top: 20px;}
  .btnSubmit {margin-top: 20px;}
  textarea {margin-top: 20px;}
  input {margin-top: 20px;}
  p {margin-top: 20px;}
  hr {margin-top: 20px;}

  h1{
    margin-left: 20px;
    float: left
  }

  .navbar{
    padding: 20px 20px 0px 20px;
  }

  #mainnavfloat{
    float:right;
  }

  .headerbar{
    z-index: 1;
    margin-top: 0px;
    position: fixed;
    float: right;
    top: 0px;
    width: 100%;
    background-color: #CAE6F7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  #main-content {
    padding: 114px 20px 40px 20px;
  }

  #messages {
    padding-top: 82px;
    position: fixed;
    width: 100%;
  }

}
/* Web Version of Website Closed */

.navbar a{
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  float: left;
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  color: black;
  display: inline-block;
  text-align: center;
  background-color: white;
  -webkit-transition: padding 0.1s, background-colour 0.4s;
}

.navbar a:hover{
  -webkit-transition: background-color 0.4s, padding-left 0.4s, padding-right 0.4s;
  background-color: #5DADE2;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


#loginbutton:hover{
  background-color: #75CF79
}

#logoutbutton:hover{
  background-color: #E74C3C;
}

/* Navigation End */

/* Map Start */

iframe{
  display: inline-block;
}

/* Map End */

/* Fade In Start */
/* Modifed and changed from refference: https://codepen.io/fr33co/pen/xOBXGy */

.container {position: inline-block}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  animation-duration:0.3s;
}

/* Refference End */
/* Fade In End */

.btnSubmit {
  border: 2px solid black;
  border-radius: 5px;
  font-size: medium;
  background-color: white;
  padding: 10px;
}

.btnSubmit:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #4CAF50;
  color: white;
}

/* Flash Message Categories Start */

.message {
  padding: 5px;
  margin-top: 0px;
  background-color: #e6f4fd;
  -webkit-animation: fadeInOut cubic-bezier(0.63,-0.01, 0.12, 1.01) 20s forwards;
  animation: fadeInOut cubic-bezier(0.63,-0.01, 0.12, 1.01) 20s forwards;
}

/* Message Animation Start */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Message Animation End */

.error {
  color: #e61f1f;
}

.success {
  color: green;
}

/* Flash Message Categories End */

/* Home Link Styling Start */

.neutral, .neutral:hover, .neutral:visited {
  text-decoration: none;
  color: black;
}

/* End of Home Link Styling Start */
