<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<p class="heading">Who are we?</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Learn more</p>
    <p> Across the world access to water is often seen as a essential human neccessity, but in some places water is may be considered a luxury. Water shouldn't be seen as a commercialised product, this includes water scarcity and how clean water is vital to every single individual. Economic, environmental, social and even political reasons can come between many of the population and this basic human right. We aim to provide clean and accessible water for everyone and which by no-ridiculous means by cost. Our focus is strongly within Churches in East Wales and Herefordshire which supply free tap-water. Our website will list the location of every Church residing in East Wales and Herefordshire to make sure you don't have to pay for something that should be free. </p>
  </section>

  <section class="inner-container">
    <img id="pictureofwater" src="./static/resources/picture-of-water.jpg" alt="picture of water">
  </section>
</section>
{% endblock %}
