<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
  <p class="heading">About Us</p>

    <p> Here you can find out information about the purpose of the site. </p>

    <link rel="stylesheet" type="text/css" href="./static/dynamic.css">

    <hr>
    <br>

    <nav class="navbar" id="helpnavbar">
      <a type="aboutcontent" name="whybutton" onclick="contentreset(1)">Why?</a>
      <a type="aboutcontent" name="whobutton" onclick="contentreset(2)">Who?</a>
      <a type="aboutcontent" name="howbutton" onclick="contentreset(3)">How?</a>
      <a type="aboutcontent" name="whatbutton" onclick="contentreset(4)">What?</a>
    </nav>

    <br>
    <hr>

    <p id="aboutcontent" class="inner-container">No Content</p>

<script src="./static/javascript/about_content.js"></script>

{% endblock %}
