<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/forms.css">
{% endblock %}

{% block content %}
<p class="heading">Want to add a tap?</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Adding tap as {{ user }}!</p>
    <p>Want to add a tap you've found? Well this is the place to do it.<br>
       Either submit as a guest by providing your email or login to submit using an existing account.
    </p>
    <br>
    <section class="form-centered">
      <center>
        <form id="tapForm" name="tapForm" method="POST" enctype=multipart/form-data>
          {% if session["sessionID"]|length > 0 %}
          <label for="email">
            Email Address:
            <input id="email" type="text" name="emailAddress" value="{{ email }}" required>
          </label>
          {% else %}
          <label for="email">
            Email Address:
            <input id="email" type="text" name="emailAddress" required>
          </label>
          {% endif %}
          <p class="subheading">Give the tap a name!</p>
          <label for="Name">
            Name:
            <input id="Name" type="text" name="Name">
          </label>
          <p class="subheading">Manual submission:</p>
          <label for="Lat.">
            Lattitude:
            <input id="Lat" type="text" name="lat">
          </label>
          <label for="Long.">
            Longitude:
            <input id="Long" type="text" name="long">
          </label>
          <p class="form-subheading">Automatic Submission:</p>
          <label for="Photo">
            <input id="image" type='file' name="image"/>
          </label>
          <label for="Description">
            Description:
            <textarea id="comments" rows="5" cols="50" name="text" placeholder="Please enter your description here."></textarea>
          </label>
          <input type="submit" name="Submit" value="Add Tap!" class="btnSubmit"><br>
        </form>
      </section>
    </section>

    <script src="./static/javascript/addatap_validation.js"></script>

    {% endblock %}
