<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/forms.css">
{% endblock %}

{% block content %}
<p class="heading">Want to add a tap?</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Adding tap as {{ user }}!</p>
    <p> If you wish to contact us about a tap you've found and want to be added to the map, please fill out the form below: </p>
    <br>
    <section class="form-centered">
      <center>
        <form id="tapForm" name="tapForm" method="get" onsubmit="return tapValidate()">
          <label for="email">
            Email Address:
            <input id="email" type="text" name="emailAddress" required>
          </label>
          <label for="Lat.">
            Lattitude:
            <input id="Lat" type="text" name="lat" required>
          </label>
          <label for="Long.">
            Longitude:
            <input id="Long" type="text" name="long" required>
          </label>
          <label for="Photo">
            <input type='file'/>
          </label>
          <label for="Description">
            Description:
            <textarea id="comments" rows="5" cols="50" name="text" placeholder="Please enter your description here."></textarea>
          </label>
          <input type="submit" name="Submit" value="Submit" class="btnSubmit"><br>
        </form>
      </section>
    </section>

    <script src="./static/javascript/addatap_validation.js"></script>

    {% endblock %}
