<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="./static/temp.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="fade-in">

  <h1> The Water Web </h1>

  <center>
    <nav>
      <div class="navbar">
        <a href="home" class="navAnimation">Home</a>
        <a href="about" class="navAnimation">About</a>
        <a href="contact" class="navAnimation">Contact Us</a>
        <a href="map" class="navAnimation">Map</a>
        <a href="login" class="navAnimation" id="loginbutton">Login</a>
        {% block logout %}{% endblock %}
      </div>
    </nav>
  </center>

  {% block content %} {% endblock %}

</body>
