<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/forms.css">
{% endblock %}

{% block content %}

<p class="heading">Get in touch!</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Drop us a message!</p>
    <p> If you wish to contact us with a query about the website, please fill out the form below: </p>
    <br>
    <section class="form-centered">
      <center>
        <form id="contactForm" name="contactForm" onsubmit="return contactValidate()" method="POST" enctype=multipart/form-data>
          <label for="Name">
            Full Name:
            <input id="Name" type="text" name="name" required>
          </label>
          <label for="Email">
            Email:
            <input id="Email" type="email" name="emailAddress" required>
          </label>
          <label for="Query">
            Your Query:
            <textarea id="comments" rows="5" cols="50" name="text" placeholder="Please enter your query here."></textarea>
          </label>
          <input type="submit" name="Submit" value="Submit" class="btnSubmit"><br>
        </form>
      </center>
    </section>
  </section>
</section>

<script>
function contactValidate() {

  if( document.contactForm.name.value == "" ) {
    alert( "Please enter your name." );
    document.contactForm.name.focus() ;
    return false;
  }

  if( document.contactForm.emailAddress.value == "" ) {
    alert( "Please enter your email address." );
    document.contactForm.emailAddress.focus() ;
    return false;
  }

  return contactSubmit()

}

function contactSubmit() {

}
</script>

{% endblock %}
