<!DOCTYPE html>
{% extends "base.html" %}

{% block logout %}
<a href="login" id="loginbutton">Login</a>
{% endblock %}

{% block content %}

  <br>
  <hr>
  
  <p> If you wish to contact us with a query about the website, please fill out the form below: </p>

  <form id="contactForm" name="contactForm" method="get" onsubmit="return contactValidate()">
    <label for="Name"> Full Name: * </label>
      <input id="Name" type="text" name="name"><br><br>

    <label for ="email">Email Address: *</label>
      <input id="email" type="text" name="emailAddress"><br><br>

    <p> Description: </p>

    <textarea id="comments" rows="5" cols="50" name="text"> Please enter your query here. </textarea> <br><br>

    <input type="submit" name="Submit" value="Submit" class="btnSubmit"><br>

  </form>

  <hr>

  <p> </p>

  <script>

    function contactValidate() {

      if( document.contactForm.name.value == "" ) {
          alert( "Please enter your name." );
          document.contactForm.name.focus() ;
          return false;
          }

      if( document.contactForm.emailAddress.value == "" ) {
          alert( "Please enter your email address." );
          document.contactForm.emailAddress.focus() ;
          return false;
          }

      return contactSubmit()

    }

    function contactSubmit() {

    }
  </script>

{% endblock %}
