<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<p class="heading">Welcome to our water-finding website!</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Add a tap</p>
    <p>

Welcome to our lovely, trustworthy and accurate water-finding website! We, as a team are dedicated to finding accessible tap water in East Wales and Herefordshire. Water should be a cost-free and accessible resource for every individual and we will make sure finding tap water won't be difficult for anyone utilising our website.
    </p>
    <button onclick="window.location.href = '/addatap';">Add a tap now!</button>
  </section>
  <section class="inner-container">
    <p class="heading">Purpose</p>
    <p>
      Our website utilises a very sophisticated map made by us which indicates where all the Churches in East Wales and Hereforeshire are located. It is displayble and zoomable, allowing a very detailed example of where each water tap can be found. Furthermore, this is compatible with the mobile version, we believe it will be easier for you to access the map on a smaller device while on the move! It will offer an easier experience to finding tap water.
    </p>
  </section>
</section>
<section class="container">
  <section class="inner-container">
    <p class="heading">Coming Soon</p>
    <p>
      Under-construction. 
    </p>
  </section>
</section>
{% endblock %}
