<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<p class="heading">Welcome to our water-finding website!</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Add a tap</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius mauris ac sem dictum, non venenatis sapien facilisis. Nulla ultricies pharetra malesuada. Aliquam interdum lectus eget nisl lobortis, in aliquet sem semper. Duis non pharetra neque. Nulla facilisi.
    </p>
    <a href="/addatap">Add A Tap (Guest Page)</a>
  </section>
  <section class="inner-container">
    <p class="heading">Coming Soon</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius mauris ac sem dictum, non venenatis sapien facilisis. Nulla ultricies pharetra malesuada. Aliquam interdum lectus eget nisl lobortis, in aliquet sem semper. Duis non pharetra neque. Nulla facilisi.
    </p>
  </section>
</section>
<section class="container">
  <section class="inner-container">
    <p class="heading">Coming Soon</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius mauris ac sem dictum, non venenatis sapien facilisis. Nulla ultricies pharetra malesuada. Aliquam interdum lectus eget nisl lobortis, in aliquet sem semper. Duis non pharetra neque. Nulla facilisi.
    </p>
  </section>
</section>
{% endblock %}
