<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
  <section class="container">
    <section class="inner-container">
      <p class="heading">{{ name }} ({{ email }})</p>
      <p>More coming soon</p>
    </section>
    <section class="inner-container">
      <p class="heading">Quick Actions</p>
      <p>Add a tap to the map!</p>
      <button onclick="window.location.href = '/addatap';">Lets do it!</button>
      <p>Use the map!</p>
      <button onclick="window.location.href = '/map';">Lets go!</button>
    </section>
  </section>
{% endblock %}
