<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/forms.css">
{% endblock %}

{% block content %}
<p class="heading"> Lets get you signed up! </p>
<section class="container">
  <section class="inner-container">
    <p class="heading">Go ahead and complete the form!</p>
    <section class="form-centered">
      <center>
        <form id="signupForm" method="POST" onsubmit="return validateSignupForm()">
          <label for="FirstName" class="inl_grid_inp">
            First name*
            <input id="FirstName" type="text" name="FirstName" required>
          </label>
          <label for="LastName" class="inl_grid_inp">
            Last name*
            <input id="LastName" type="text" name="LastName" required>
          </label>
          <label for="Email">
            Email*
            <input id="Email" type="email" name="Email" required>
          </label>
          <label for="Password1">
            Password
            <input id="Password1" type="password" name="Password1" placeholder="Suitable password: I9adjsi*" required>
          </label>
          <label for="Password2">
            Repeated Password
            <input id="Password2" type="password" name="Password2" placeholder="Please repeat password." required>
          </label>
          <input type="submit" value="Lets Go!">
        </form>
      </center>
    </section>
  </section>
</section>
<script src="./static/javascript/signup_validation.js"></script>
{% endblock %}
