<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/forms.css">
<link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css" />
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<style>
  #leaflet-map,
  #leaflet-container {
    height: 500px;
    width: 100%;
    margin: 0 0 0 0;
  }

  .leaflet-map-pane,
  .leaflet-tile-pane,
  .leaflet-layer,
  .leaflet-top,
  .leaflet-left,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    margin-top: 0px;
  }
  </style>

<br>

<p class="heading">You've added a tap!</p>
<section class="container">
  <section class="inner-container">
    <p class="heading">{{ tapname }} ({{ latitude }}, {{ longitude }})</p>
    <p>An administrator will approve your submission shortly.</p><br>
    <div id="leaflet-map"></div>
  </section>
</section>

<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>

<script>

      var map = L.map('leaflet-map').setView([1, 1], 15);

      var redmarker = L.icon({
        iconUrl: "./static/resources/red-marker.png",
        iconSize: [30, 50],
        iconAnchor: [10, 10]
      });

      navigator.geolocation.getCurrentPosition(setCurrentPosition);

      function setCurrentPosition(position) {
        var lat = {{ latitude }};
        var long = {{ longitude }};
        map.panTo(new L.LatLng(lat, long));
        // {icon: redmarker}
        var currentlocation = L.marker([lat, long]).addTo(map);
        currentlocation.bindPopup("<b>{{ tapname }}</b>").openPopup();
      }

      mapLink =
          '<a href="http://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; ' + mapLink + ' Contributors',
          maxZoom: 18,
          }).addTo(map);
</script>

{% endblock %}
