<!DOCTYPE html>
<head>
  <title>Water Web: {% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./static/UI-base.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#008578">
</head>
<header>
  <h1 id="site-name">The Water Web</h1>
</header>
<body>
  <main>
  {% block content %} {% endblock %}
  </main>
</body>
<footer>
  <p>footer</p>
</footer>
</html>
